/* styles.css */

/* Style for normal buttons */
.button {
    -fx-background-color: #757678; /* Light gray */
    -fx-text-fill: black; /* Change text color to black */
    -fx-font-size: 12px; /* Reduce font size */
    -fx-padding: 5px 10px; /* Reduce padding */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}


.bold-label {
    -fx-font-weight: bold; /* Set font weight to bold */
}


.border-pane {
    -fx-background-color: #acaeb0;
}


.combo-box {
    -fx-background-color: #d4d7d9;
    -fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-background-color: #757678;
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #d4d7d9;
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: #d4d7d9;
    -fx-text-fill: white;
}


/* Customize TableView */
.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

/* Customize TableColumn */
.table-column {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-radius: 10 10 0 0;
}

/* Set TableView row background color (optional) */
.table-row-cell {
    -fx-background-color: #f0f0f0;
}

.error-label {
    -fx-text-fill: red; /* Set text color to red */
}